<!--<nav class="navbar fixed-bottom navbar-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto" > 

        this prints out Back on the website + the (/)(/home)(/about)(/project)(/contact) is the hyperlink where the site is located
        we use ejs, when using the if else statements(if to activate and else to deactive the navBar options)
        <li class="nav-item">
        <% if (title == "LinkedIn") 
        { %>
          <a class="nav-link active" href="https://www.linkedin.com/in/mahnoor-sahibi-b04ab61a9/">
        <% } 
        else { %>
          <a class="nav-link" href="https://www.linkedin.com/in/mahnoor-sahibi-b04ab61a9/">
        <% } %>
          <i class="fa-brands fa-linkedin"></i> LinkedIn</a>

        <% if (title == "GitHub") 
        { %>
          <a class="nav-link active" href="https://github.com/mahnoorS20/assignment2">
        <% } 
        else { %>
          <a class="nav-link" href="https://github.com/mahnoorS20/assignment2">
        <% } %>
          <i class="fa-brands fa-github"></i> GitHub</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->