/*.box-one{

    position:absolute;
    font-family: Georgia, serif;
    padding: 4% 10%;
    margin-top: 2%;
    margin-inline-start:400px;
    margin-inline-end: 24%;
    background-color: #ffffff;
    border: 2px solid #291a10;
    opacity: 0.5;
}*/



/*
.image{
    margin-left: 80%;
    margin-top:-450px;
}
.video{
    margin-left: 80%;
}*/